In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [2]:
# thyroid demographics with omitted columns
thyroid_demographics = pd.read_csv('data/thyroid_demographics_cln.csv')

thyroid_demographics.tail()

,Hospital Number,Admit Age In Years,Gender Title,Race - Version 1,Length Of Stay,Total Ped Expected LOS,Discharge Mortality Flag,Mechanical Vent Flag,ECMO Flag,Infection Flag,Medical Complication Flag,Surgical Complication Flag,Post Operative LOS,RACHS Score,Principal Dx (ICD),Principal Dx Code - Title (ICD),Risk Of Mortality Title,Total Ped Expected Mortalities,Total Days In ICU
19763,2029,16,0,1,5,1.72,0,0,0,0,0,0,2,1,42732,42732 - Atrial flutter,0,0.0000,4.0
19764,2029,0,0,1,8,5.64,0,1,0,0,0,0,8,2,7454,7454 - Ventricular sept defect,0,0.0011,6.0
19765,2029,3,1,1,1,3.01,0,0,0,1,0,0,0,1,4644,4644 - Croup,1,0.0011,1.0
19766,2029,11,1,1,8,6.65,0,0,0,1,0,0,0,1,29689,29689 - Bipolar disorder NEC,1,0.0000,0.0
19767,2037,0,1,1,19,32.57,0,0,0,0,0,0,17,1,V3001,V3001 - Single LB-hospital by CD,1,0.0396,NaN

In [3]:
thyroid_demographics = thyroid_demographics.dropna(how='any')
thyroid_demographics.head()

,Hospital Number,Admit Age In Years,Gender Title,Race - Version 1,Length Of Stay,Total Ped Expected LOS,Discharge Mortality Flag,Mechanical Vent Flag,ECMO Flag,Infection Flag,Medical Complication Flag,Surgical Complication Flag,Post Operative LOS,RACHS Score,Principal Dx (ICD),Principal Dx Code - Title (ICD),Risk Of Mortality Title,Total Ped Expected Mortalities,Total Days In ICU
0,2037,0,0,2,7,8.19,0,1,0,0,0,0,6,1,2762,2762 - Acidosis,1,0.0000,4.0
1,2037,0,1,6,85,94.13,0,1,0,0,0,1,65,6,V3001,V3001 - Single LB-hospital by CD,3,0.0794,61.0
2,2037,1,0,6,9,3.20,0,0,0,1,0,0,9,1,49391,49391 - Asthma w status asth,1,0.0007,4.0
4,2037,0,1,6,25,25.32,0,1,0,1,0,0,25,1,769,769 - Resp distress syndrome,3,0.3899,0.0
5,2037,1,0,6,2,4.85,0,0,0,1,0,0,2,1,4280,4280 - CHF NOS,1,0.0099,0.0

In [4]:
thyroid_demographics['Hospital Number'].shape

(16564,)

In [5]:
thyroid_demographics =thyroid_demographics.drop("Principal Dx Code - Title (ICD)",axis=1)
thyroid_demographics.head()

,Hospital Number,Admit Age In Years,Gender Title,Race - Version 1,Length Of Stay,Total Ped Expected LOS,Discharge Mortality Flag,Mechanical Vent Flag,ECMO Flag,Infection Flag,Medical Complication Flag,Surgical Complication Flag,Post Operative LOS,RACHS Score,Principal Dx (ICD),Risk Of Mortality Title,Total Ped Expected Mortalities,Total Days In ICU
0,2037,0,0,2,7,8.19,0,1,0,0,0,0,6,1,2762,1,0.0000,4.0
1,2037,0,1,6,85,94.13,0,1,0,0,0,1,65,6,V3001,3,0.0794,61.0
2,2037,1,0,6,9,3.20,0,0,0,1,0,0,9,1,49391,1,0.0007,4.0
4,2037,0,1,6,25,25.32,0,1,0,1,0,0,25,1,769,3,0.3899,0.0
5,2037,1,0,6,2,4.85,0,0,0,1,0,0,2,1,4280,1,0.0099,0.0

In [6]:
thyroid_demographics = thyroid_demographics.drop("Principal Dx (ICD)",axis=1)
thyroid_demographics.head()

,Hospital Number,Admit Age In Years,Gender Title,Race - Version 1,Length Of Stay,Total Ped Expected LOS,Discharge Mortality Flag,Mechanical Vent Flag,ECMO Flag,Infection Flag,Medical Complication Flag,Surgical Complication Flag,Post Operative LOS,RACHS Score,Risk Of Mortality Title,Total Ped Expected Mortalities,Total Days In ICU
0,2037,0,0,2,7,8.19,0,1,0,0,0,0,6,1,1,0.0000,4.0
1,2037,0,1,6,85,94.13,0,1,0,0,0,1,65,6,3,0.0794,61.0
2,2037,1,0,6,9,3.20,0,0,0,1,0,0,9,1,1,0.0007,4.0
4,2037,0,1,6,25,25.32,0,1,0,1,0,0,25,1,3,0.3899,0.0
5,2037,1,0,6,2,4.85,0,0,0,1,0,0,2,1,1,0.0099,0.0

In [7]:
# target = thyroid_demographics["Discharge Mortality Flag"]
# target_names = ["live","die"]

In [8]:
data = thyroid_demographics.drop("Discharge Mortality Flag", axis=1)
feature_names = data.columns

In [9]:
data.dtypes

Hospital Number                     int64
Admit Age In Years                  int64
Gender Title                        int64
Race - Version 1                    int64
Length Of Stay                     object
Total Ped Expected LOS            float64
Mechanical Vent Flag                int64
ECMO Flag                           int64
Infection Flag                      int64
Medical Complication Flag           int64
Surgical Complication Flag          int64
Post Operative LOS                 object
RACHS Score                         int64
Risk Of Mortality Title             int64
Total Ped Expected Mortalities    float64
Total Days In ICU                 float64
dtype: object

In [10]:
data['Length Of Stay'] = pd.to_numeric(data['Length Of Stay'],errors='coerce')
data.dtypes

Hospital Number                     int64
Admit Age In Years                  int64
Gender Title                        int64
Race - Version 1                    int64
Length Of Stay                    float64
Total Ped Expected LOS            float64
Mechanical Vent Flag                int64
ECMO Flag                           int64
Infection Flag                      int64
Medical Complication Flag           int64
Surgical Complication Flag          int64
Post Operative LOS                 object
RACHS Score                         int64
Risk Of Mortality Title             int64
Total Ped Expected Mortalities    float64
Total Days In ICU                 float64
dtype: object

In [11]:
data['Post Operative LOS'] = pd.to_numeric(data['Post Operative LOS'],errors='coerce')
data.dtypes

Hospital Number                     int64
Admit Age In Years                  int64
Gender Title                        int64
Race - Version 1                    int64
Length Of Stay                    float64
Total Ped Expected LOS            float64
Mechanical Vent Flag                int64
ECMO Flag                           int64
Infection Flag                      int64
Medical Complication Flag           int64
Surgical Complication Flag          int64
Post Operative LOS                float64
RACHS Score                         int64
Risk Of Mortality Title             int64
Total Ped Expected Mortalities    float64
Total Days In ICU                 float64
dtype: object

In [12]:
# data =data.drop("Principal Dx Code - Title (ICD)",axis=1)
data.head()

,Hospital Number,Admit Age In Years,Gender Title,Race - Version 1,Length Of Stay,Total Ped Expected LOS,Mechanical Vent Flag,ECMO Flag,Infection Flag,Medical Complication Flag,Surgical Complication Flag,Post Operative LOS,RACHS Score,Risk Of Mortality Title,Total Ped Expected Mortalities,Total Days In ICU
0,2037,0,0,2,7.0,8.19,1,0,0,0,0,6.0,1,1,0.0000,4.0
1,2037,0,1,6,85.0,94.13,1,0,0,0,1,65.0,6,3,0.0794,61.0
2,2037,1,0,6,9.0,3.20,0,0,1,0,0,9.0,1,1,0.0007,4.0
4,2037,0,1,6,25.0,25.32,1,0,1,0,0,25.0,1,3,0.3899,0.0
5,2037,1,0,6,2.0,4.85,0,0,1,0,0,2.0,1,1,0.0099,0.0

In [13]:
data.shape

(16564, 16)

In [14]:
data2  = data[['Admit Age In Years','Gender Title','ECMO Flag']]
data2.head()

   Admit Age In Years  Gender Title  ECMO Flag
0                   0             0          0
1                   0             1          0
2                   1             0          0
4                   0             1          0
5                   1             0          0

In [15]:
# data = data.reset_index()
data.head()

,Hospital Number,Admit Age In Years,Gender Title,Race - Version 1,Length Of Stay,Total Ped Expected LOS,Mechanical Vent Flag,ECMO Flag,Infection Flag,Medical Complication Flag,Surgical Complication Flag,Post Operative LOS,RACHS Score,Risk Of Mortality Title,Total Ped Expected Mortalities,Total Days In ICU
0,2037,0,0,2,7.0,8.19,1,0,0,0,0,6.0,1,1,0.0000,4.0
1,2037,0,1,6,85.0,94.13,1,0,0,0,1,65.0,6,3,0.0794,61.0
2,2037,1,0,6,9.0,3.20,0,0,1,0,0,9.0,1,1,0.0007,4.0
4,2037,0,1,6,25.0,25.32,1,0,1,0,0,25.0,1,3,0.3899,0.0
5,2037,1,0,6,2.0,4.85,0,0,1,0,0,2.0,1,1,0.0099,0.0

In [16]:
target = thyroid_demographics["Discharge Mortality Flag"]
target_names = ["you will live","you will die"]
target.head()

0    0
1    0
2    0
4    0
5    0
Name: Discharge Mortality Flag, dtype: int64

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data2, target, random_state=42)

In [18]:
from sklearn.svm import SVC 
model = SVC(kernel='linear')
model.fit(X_train, y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='linear', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False)

In [19]:
print('Test Acc: %.3f' % model.score(X_test,y_test))

Test Acc: 0.888

In [20]:
svm_score= model.score(X_test,y_test)

In [21]:
from sklearn.metrics import classification_report, confusion_matrix
predictions= model.predict(X_test)
print(classification_report(y_test, predictions, target_names=target_names))

               precision    recall  f1-score   support

you will live       0.92      0.96      0.94      3652
 you will die       0.54      0.35      0.43       489

    micro avg       0.89      0.89      0.89      4141
    macro avg       0.73      0.66      0.68      4141
 weighted avg       0.87      0.89      0.88      4141

In [22]:
data.head()

,Hospital Number,Admit Age In Years,Gender Title,Race - Version 1,Length Of Stay,Total Ped Expected LOS,Mechanical Vent Flag,ECMO Flag,Infection Flag,Medical Complication Flag,Surgical Complication Flag,Post Operative LOS,RACHS Score,Risk Of Mortality Title,Total Ped Expected Mortalities,Total Days In ICU
0,2037,0,0,2,7.0,8.19,1,0,0,0,0,6.0,1,1,0.0000,4.0
1,2037,0,1,6,85.0,94.13,1,0,0,0,1,65.0,6,3,0.0794,61.0
2,2037,1,0,6,9.0,3.20,0,0,1,0,0,9.0,1,1,0.0007,4.0
4,2037,0,1,6,25.0,25.32,1,0,1,0,0,25.0,1,3,0.3899,0.0
5,2037,1,0,6,2.0,4.85,0,0,1,0,0,2.0,1,1,0.0099,0.0

In [23]:
data3  = data[['Admit Age In Years','Gender Title','ECMO Flag','Mechanical Vent Flag','Infection Flag','Medical Complication Flag']]
data3.head()

,Admit Age In Years,Gender Title,ECMO Flag,Mechanical Vent Flag,Infection Flag,Medical Complication Flag
0,0,0,0,1,0,0
1,0,1,0,1,0,0
2,1,0,0,0,1,0
4,0,1,0,1,1,0
5,1,0,0,0,1,0

In [24]:
from sklearn import tree
import os

In [25]:

X_train, X_test, y_train, y_test = train_test_split(data3, target, random_state=42)

In [26]:
feature_names = data3.columns

In [27]:
clf = tree.DecisionTreeClassifier(min_samples_leaf=50)
clf = clf.fit(X_train, y_train)

In [28]:
import graphviz

dot_data=tree.export_graphviz(
clf, out_file = None, feature_names =feature_names,class_names=target_names,filled=True, rounded=True)

ModuleNotFoundError: No module named 'graphviz'

In [29]:
import pydotplus
graph = pydotplus.graph_from_dot_data(dot_data)
graph.write_png('test.png')
graph= graphviz.Source(dot_data)
graph

ModuleNotFoundError: No module named 'pydotplus'

In [30]:
feature_names

Index(['Admit Age In Years', 'Gender Title', 'ECMO Flag',
       'Mechanical Vent Flag', 'Infection Flag', 'Medical Complication Flag'],
      dtype='object')

In [31]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=20000)
rf= rf.fit(X_train,y_train)
rf_score=rf.score(X_test, y_test)

In [32]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=20)
rf= rf.fit(X_train,y_train)
rf.score(X_test, y_test)

0.8896401835305482

In [33]:
sorted(zip(rf.feature_importances_,feature_names), reverse=True)

[(0.5583765050814438, 'ECMO Flag'),
 (0.18454832713599814, 'Mechanical Vent Flag'),
 (0.1559288415300109, 'Admit Age In Years'),
 (0.07828153943057603, 'Infection Flag'),
 (0.013400176185355984, 'Gender Title'),
 (0.00946461063661524, 'Medical Complication Flag')]

In [34]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [35]:
classifier.fit(X_train,y_train)

/Users/HeatherTrinh/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [36]:
lr_trainedscore=classifier.score(X_train, y_train)

In [37]:
lr_testscore=classifier.score(X_test, y_test)

In [38]:
predictions= classifier.predict(X_test)

In [39]:
predictions[:10]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [40]:
print(predictions[:10])
print(y_test[:10].tolist())

[0 0 0 0 0 0 0 0 0 0]
[0, 0, 0, 0, 0, 1, 0, 0, 0, 0]

In [41]:
pd.DataFrame({'Prediction': predictions, "Actual": y_test}).reset_index(drop=True)

      Prediction  Actual
0              0       0
1              0       0
2              0       0
3              0       0
4              0       0
5              0       1
6              0       0
7              0       0
8              0       0
9              0       0
10             0       0
11             0       0
12             0       0
13             0       0
14             0       0
15             0       0
16             0       0
17             0       0
18             0       1
19             0       0
20             0       0
21             0       0
22             0       0
23             0       1
24             0       0
25             0       0
26             0       0
27             0       0
28             0       0
29             0       0
...          ...     ...
4111           0       0
4112           0       0
4113           0       0
4114           1       1
4115           0       0
4116           0       1
4117           0       0
4118           0       1
4119           0       0
4120           0       0
4121           0       0
4122           0       1
4123           0       0
4124           0       0
4125           0       0
4126           0       0
4127           0       0
4128           0       0
4129           0       0
4130           0       0
4131           0       0
4132           0       0
4133           0       1
4134           0       0
4135           0       0
4136           0       0
4137           0       0
4138           0       0
4139           0       0
4140           0       0

[4141 rows x 2 columns]

In [42]:
from sklearn.metrics import confusion_matrix,accuracy_score, precision_score, recall_score, f1_score
confusion_matrix(y_test,predictions)

array([[3565,   87],
       [ 376,  113]])

In [43]:
x = pd.DataFrame({'Predictions':predictions, 'Actual':y_test }).reset_index(drop=True)
pd.crosstab(x['Predictions'],x['Actual'])

Actual          0    1
Predictions
0            3565  376
1              87  113

In [44]:
from sklearn.naive_bayes import BernoulliNB
bern = BernoulliNB(binarize=True)
bern.fit(X_train, y_train)
bern

BernoulliNB(alpha=1.0, binarize=True, class_prior=None, fit_prior=True)

In [47]:
y_expect=y_test
y_pred = bern.predict(X_test)
nb_score =accuracy_score(y_expect,y_pred)
nb_score

0.8819125815020527

In [46]:
print(classification_report(y_test, y_pred,target_names=target_names))

               precision    recall  f1-score   support

you will live       0.88      1.00      0.94      3652
 you will die       0.00      0.00      0.00       489

    micro avg       0.88      0.88      0.88      4141
    macro avg       0.44      0.50      0.47      4141
 weighted avg       0.78      0.88      0.83      4141

/Users/HeatherTrinh/anaconda3/lib/python3.7/site-packages/sklearn/metrics/classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [ ]:
svm_score

In [ ]:
rf_score

In [ ]:
lr_testscore

In [ ]:
import seaborn as sns

In [ ]:
#CREATE PIE GRAPH OF GENDER
male_count = np.sum(thyroid_demographics['Gender Title'] == 1)
female_count = np.sum(thyroid_demographics['Gender Title'] == 0)
gender = [male_count, female_count]
gender_names=  ['Male', "Female"]
explode = (0, 0.05)
colors = ['skyblue', 'pink']
# plt.figure(figsize=(7,8))
plt.pie(gender, labels=gender_names, explode=explode, textprops={'fontsize':20}, colors=colors, 
        startangle=90, autopct='%.1f%%', shadow=True)
plt.title("Gender", fontsize=20)


plt.savefig("pics/gender_pie.png",bbox_inches=None)

In [ ]:
#READ IN CITY DATA TO MERGE WITH HOSPITAL ID
city= pd.read_csv('data/hosp_city.csv')
city = city.dropna(how="any")
city = city.drop_duplicates()
city['Hospital Number'].shape

In [ ]:
#CREATE NEW DF WITH CITY NAME MERGED TO HOSP ID
thyroid_city= thyroid_demographics.merge(city, on="Hospital Number")
thyroid_city = thyroid_city[['Hospital Number', 'Hospital City']]
thyroid_city.head(10)

In [ ]:
hospital_counts = pd.DataFrame(thyroid_city['Hospital Number'].value_counts())
hosp_counts=hospital_counts.reset_index().rename(columns={'index':'Hospital Number', 'Hospital Number':'Counts'})
hosp_counts.head()

In [ ]:
hospital_counts = hosp_counts.merge(thyroid_city, on='Hospital Number')
hospital_counts=hospital_counts[['Hospital Number','Hospital City','Counts']]
hospital_counts.head()

In [ ]:
sequential_colors = sns.color_palette("BuPu_r",50)
sns.palplot(sequential_colors)

In [ ]:
#USE SEABORN TO CREATE HORIZONTAL BAR GRAPH
x = hospital_counts['Counts']
y=hospital_counts['Hospital City']
plt.figure(figsize=(10,15))
sns.set_style("whitegrid")
city_bar = sns.barplot(x=x,y=y,data=hospital_counts,palette=sequential_colors)
plt.title("Volume Of Surgeries by City",fontsize=15)

plt.savefig("pics/city_bar.png",bbox_inches=None)

In [ ]:
#CREATE DONUT GRAPH OF RACE
white = np.sum(thyroid_demographics['Race - Version 1'] == 1)
black = np.sum(thyroid_demographics['Race - Version 1'] == 2)
asian = np.sum(thyroid_demographics['Race - Version 1'] == 3)
american_indian = np.sum(thyroid_demographics['Race - Version 1'] == 4)
hispanic = np.sum(thyroid_demographics['Race - Version 1'] == 5)
other = np.sum(thyroid_demographics['Race - Version 1'] == 6)

#race
#0 = missing, 1= white, 2= Black, 3= Asian, 4= American Indian, 5= hispanic, 6= other


race = [white, asian, black, american_indian, other, hispanic]
race_names=  ["White", "Asian", "Black", "American Indian", "Other", "Hispanic"]
colors = ['salmon', 'peru', 'bisque', 'wheat', 'mistyrose', 'red']
# plt.figure(figsize=(7,8))
plt.pie(race, labels=race_names, textprops={'fontsize':15}, colors=colors, 
        startangle=90, autopct='%.1f%%')
plt.title("Race", fontsize=20)



# add a circle at the center
my_circle=plt.Circle( (0,0), 0.4, color='white')
p=plt.gcf()
p.gca().add_artist(my_circle)


plt.savefig("pics/race_donut.png",bbox_inches=None)

In [50]:
#Bernoulli Naive Bayes
nb_score

0.8819125815020527

In [48]:
#Logistic Regression
lr_testscore

0.8881912581502053

In [49]:
#SVM
svm_score

0.8881912581502053