In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [2]:
# thyroid demographics with omitted columns
thyroid_demographics = pd.read_csv('data/thyroid_demographics_cln.csv')
thyroid_demographics.tail()

,Hospital Number,Admit Age In Years,Gender Title,Race - Version 1,Length Of Stay,Total Ped Expected LOS,Discharge Mortality Flag,Mechanical Vent Flag,ECMO Flag,Infection Flag,Medical Complication Flag,Surgical Complication Flag,Post Operative LOS,RACHS Score,Principal Dx (ICD),Principal Dx Code - Title (ICD),Risk Of Mortality Title,Total Ped Expected Mortalities,Total Days In ICU
19763,2029,16,0,1,5,1.72,0,0,0,0,0,0,2,1,42732,42732 - Atrial flutter,0,0.0000,4.0
19764,2029,0,0,1,8,5.64,0,1,0,0,0,0,8,2,7454,7454 - Ventricular sept defect,0,0.0011,6.0
19765,2029,3,1,1,1,3.01,0,0,0,1,0,0,0,1,4644,4644 - Croup,1,0.0011,1.0
19766,2029,11,1,1,8,6.65,0,0,0,1,0,0,0,1,29689,29689 - Bipolar disorder NEC,1,0.0000,0.0
19767,2037,0,1,1,19,32.57,0,0,0,0,0,0,17,1,V3001,V3001 - Single LB-hospital by CD,1,0.0396,NaN

In [3]:
thyroid_demographics = thyroid_demographics.dropna(how='any')
thyroid_demographics.head()

,Hospital Number,Admit Age In Years,Gender Title,Race - Version 1,Length Of Stay,Total Ped Expected LOS,Discharge Mortality Flag,Mechanical Vent Flag,ECMO Flag,Infection Flag,Medical Complication Flag,Surgical Complication Flag,Post Operative LOS,RACHS Score,Principal Dx (ICD),Principal Dx Code - Title (ICD),Risk Of Mortality Title,Total Ped Expected Mortalities,Total Days In ICU
0,2037,0,0,2,7,8.19,0,1,0,0,0,0,6,1,2762,2762 - Acidosis,1,0.0000,4.0
1,2037,0,1,6,85,94.13,0,1,0,0,0,1,65,6,V3001,V3001 - Single LB-hospital by CD,3,0.0794,61.0
2,2037,1,0,6,9,3.20,0,0,0,1,0,0,9,1,49391,49391 - Asthma w status asth,1,0.0007,4.0
4,2037,0,1,6,25,25.32,0,1,0,1,0,0,25,1,769,769 - Resp distress syndrome,3,0.3899,0.0
5,2037,1,0,6,2,4.85,0,0,0,1,0,0,2,1,4280,4280 - CHF NOS,1,0.0099,0.0

In [4]:
thyroid_demographics =thyroid_demographics.drop("Principal Dx Code - Title (ICD)",axis=1)
thyroid_demographics.head()

,Hospital Number,Admit Age In Years,Gender Title,Race - Version 1,Length Of Stay,Total Ped Expected LOS,Discharge Mortality Flag,Mechanical Vent Flag,ECMO Flag,Infection Flag,Medical Complication Flag,Surgical Complication Flag,Post Operative LOS,RACHS Score,Principal Dx (ICD),Risk Of Mortality Title,Total Ped Expected Mortalities,Total Days In ICU
0,2037,0,0,2,7,8.19,0,1,0,0,0,0,6,1,2762,1,0.0000,4.0
1,2037,0,1,6,85,94.13,0,1,0,0,0,1,65,6,V3001,3,0.0794,61.0
2,2037,1,0,6,9,3.20,0,0,0,1,0,0,9,1,49391,1,0.0007,4.0
4,2037,0,1,6,25,25.32,0,1,0,1,0,0,25,1,769,3,0.3899,0.0
5,2037,1,0,6,2,4.85,0,0,0,1,0,0,2,1,4280,1,0.0099,0.0

In [5]:
thyroid_demographics = thyroid_demographics.drop("Principal Dx (ICD)",axis=1)
thyroid_demographics.head()

,Hospital Number,Admit Age In Years,Gender Title,Race - Version 1,Length Of Stay,Total Ped Expected LOS,Discharge Mortality Flag,Mechanical Vent Flag,ECMO Flag,Infection Flag,Medical Complication Flag,Surgical Complication Flag,Post Operative LOS,RACHS Score,Risk Of Mortality Title,Total Ped Expected Mortalities,Total Days In ICU
0,2037,0,0,2,7,8.19,0,1,0,0,0,0,6,1,1,0.0000,4.0
1,2037,0,1,6,85,94.13,0,1,0,0,0,1,65,6,3,0.0794,61.0
2,2037,1,0,6,9,3.20,0,0,0,1,0,0,9,1,1,0.0007,4.0
4,2037,0,1,6,25,25.32,0,1,0,1,0,0,25,1,3,0.3899,0.0
5,2037,1,0,6,2,4.85,0,0,0,1,0,0,2,1,1,0.0099,0.0

In [26]:
# target = thyroid_demographics["Discharge Mortality Flag"]
# target_names = ["live","die"]

In [27]:
data = thyroid_demographics.drop("Discharge Mortality Flag", axis=1)
feature_names = data.columns

In [28]:
data.dtypes

Hospital Number                     int64
Admit Age In Years                  int64
Gender Title                        int64
Race - Version 1                    int64
Length Of Stay                     object
Total Ped Expected LOS            float64
Mechanical Vent Flag                int64
ECMO Flag                           int64
Infection Flag                      int64
Medical Complication Flag           int64
Surgical Complication Flag          int64
Post Operative LOS                 object
RACHS Score                         int64
Risk Of Mortality Title             int64
Total Ped Expected Mortalities    float64
Total Days In ICU                 float64
dtype: object

In [29]:
data['Length Of Stay'] = pd.to_numeric(data['Length Of Stay'],errors='coerce')
data.dtypes

Hospital Number                     int64
Admit Age In Years                  int64
Gender Title                        int64
Race - Version 1                    int64
Length Of Stay                    float64
Total Ped Expected LOS            float64
Mechanical Vent Flag                int64
ECMO Flag                           int64
Infection Flag                      int64
Medical Complication Flag           int64
Surgical Complication Flag          int64
Post Operative LOS                 object
RACHS Score                         int64
Risk Of Mortality Title             int64
Total Ped Expected Mortalities    float64
Total Days In ICU                 float64
dtype: object

In [30]:
data['Post Operative LOS'] = pd.to_numeric(data['Post Operative LOS'],errors='coerce')
data.dtypes

Hospital Number                     int64
Admit Age In Years                  int64
Gender Title                        int64
Race - Version 1                    int64
Length Of Stay                    float64
Total Ped Expected LOS            float64
Mechanical Vent Flag                int64
ECMO Flag                           int64
Infection Flag                      int64
Medical Complication Flag           int64
Surgical Complication Flag          int64
Post Operative LOS                float64
RACHS Score                         int64
Risk Of Mortality Title             int64
Total Ped Expected Mortalities    float64
Total Days In ICU                 float64
dtype: object

In [31]:
# data =data.drop("Principal Dx Code - Title (ICD)",axis=1)
data.head()

,Hospital Number,Admit Age In Years,Gender Title,Race - Version 1,Length Of Stay,Total Ped Expected LOS,Mechanical Vent Flag,ECMO Flag,Infection Flag,Medical Complication Flag,Surgical Complication Flag,Post Operative LOS,RACHS Score,Risk Of Mortality Title,Total Ped Expected Mortalities,Total Days In ICU
0,2037,0,0,2,7.0,8.19,1,0,0,0,0,6.0,1,1,0.0000,4.0
1,2037,0,1,6,85.0,94.13,1,0,0,0,1,65.0,6,3,0.0794,61.0
2,2037,1,0,6,9.0,3.20,0,0,1,0,0,9.0,1,1,0.0007,4.0
4,2037,0,1,6,25.0,25.32,1,0,1,0,0,25.0,1,3,0.3899,0.0
5,2037,1,0,6,2.0,4.85,0,0,1,0,0,2.0,1,1,0.0099,0.0

In [32]:
data.shape

(16564, 16)

In [33]:
target.head()

0    0
1    0
2    0
4    0
5    0
Name: Discharge Mortality Flag, dtype: int64

In [34]:
data2  = data[['Admit Age In Years','Gender Title','ECMO Flag']]
data2.head()

   Admit Age In Years  Gender Title  ECMO Flag
0                   0             0          0
1                   0             1          0
2                   1             0          0
4                   0             1          0
5                   1             0          0

In [35]:
# data = data.reset_index()
data.head()

,Hospital Number,Admit Age In Years,Gender Title,Race - Version 1,Length Of Stay,Total Ped Expected LOS,Mechanical Vent Flag,ECMO Flag,Infection Flag,Medical Complication Flag,Surgical Complication Flag,Post Operative LOS,RACHS Score,Risk Of Mortality Title,Total Ped Expected Mortalities,Total Days In ICU
0,2037,0,0,2,7.0,8.19,1,0,0,0,0,6.0,1,1,0.0000,4.0
1,2037,0,1,6,85.0,94.13,1,0,0,0,1,65.0,6,3,0.0794,61.0
2,2037,1,0,6,9.0,3.20,0,0,1,0,0,9.0,1,1,0.0007,4.0
4,2037,0,1,6,25.0,25.32,1,0,1,0,0,25.0,1,3,0.3899,0.0
5,2037,1,0,6,2.0,4.85,0,0,1,0,0,2.0,1,1,0.0099,0.0

In [49]:
target = thyroid_demographics["Discharge Mortality Flag"]
target_names = ["you will live","you will die"]
target.head()

0    0
1    0
2    0
4    0
5    0
Name: Discharge Mortality Flag, dtype: int64

In [50]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data2, target, random_state=42)

In [51]:
from sklearn.svm import SVC 
model = SVC(kernel='linear')
model.fit(X_train, y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='linear', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False)

In [52]:
print('Test Acc: %.3f' % model.score(X_test,y_test))

Test Acc: 0.888

In [53]:
from sklearn.metrics import classification_report
predictions= model.predict(X_test)
print(classification_report(y_test, predictions, target_names=target_names))

               precision    recall  f1-score   support

you will live       0.92      0.96      0.94      3652
 you will die       0.54      0.35      0.43       489

    micro avg       0.89      0.89      0.89      4141
    macro avg       0.73      0.66      0.68      4141
 weighted avg       0.87      0.89      0.88      4141

In [54]:
data.head()

,Hospital Number,Admit Age In Years,Gender Title,Race - Version 1,Length Of Stay,Total Ped Expected LOS,Mechanical Vent Flag,ECMO Flag,Infection Flag,Medical Complication Flag,Surgical Complication Flag,Post Operative LOS,RACHS Score,Risk Of Mortality Title,Total Ped Expected Mortalities,Total Days In ICU
0,2037,0,0,2,7.0,8.19,1,0,0,0,0,6.0,1,1,0.0000,4.0
1,2037,0,1,6,85.0,94.13,1,0,0,0,1,65.0,6,3,0.0794,61.0
2,2037,1,0,6,9.0,3.20,0,0,1,0,0,9.0,1,1,0.0007,4.0
4,2037,0,1,6,25.0,25.32,1,0,1,0,0,25.0,1,3,0.3899,0.0
5,2037,1,0,6,2.0,4.85,0,0,1,0,0,2.0,1,1,0.0099,0.0

In [56]:
data3  = data[['Admit Age In Years','Gender Title','ECMO Flag','Mechanical Vent Flag','Infection Flag','Medical Complication Flag']]
data3.head()

,Admit Age In Years,Gender Title,ECMO Flag,Mechanical Vent Flag,Infection Flag,Medical Complication Flag
0,0,0,0,1,0,0
1,0,1,0,1,0,0
2,1,0,0,0,1,0
4,0,1,0,1,1,0
5,1,0,0,0,1,0

In [59]:
import graphviz

ModuleNotFoundError: No module named 'graphviz'

In [57]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=20000)
rf= rf.fit(X_train,y_train)
rf.score(X_test, y_test)

0.8910891089108911

In [ ]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

In [ ]:
classifier.fit(X_train,y_train)